.masonry-grid-item {
  --columns: 1;
  --gutter: 10;
  margin-bottom: calc(var(--gutter) * 1px);
  width: calc(
    (calc(100vw - (100vw - 100%)) / var(--columns)) -
      (var(--gutter) * (var(--columns) - 1) / var(--columns) * 1px)
  );
  max-height: 500px;
  object-fit: cover;
}
@media only screen and (min-width: 640px) {
  .masonry-grid-item {
    --columns: 2;
    --gutter: 20;
  }
}
@media only screen and (min-width: 768px) {
  .masonry-grid-item {
    --columns: 3;
    --gutter: 40;
  }
}
